# Ignore Visual Studio temporary files, build results, and
# user-specific files

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
TestResults/

# Others
*.log
*.tlog
*.cache
*.pdb
*.dbmdl
*.bak
*.tmp

# Settings
appsettings.*.json

# Google service account keys
*fyp-assistant-*.json
*fyp-auth-*.json

